* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/* 
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.App {
  text-align: center;
  align-items: center;
  
  
}

h3 {
  margin: 0 10px;
}

/* .navbar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: lightgrey;
} */

/* .navbar__links{
  margin-left: auto;

} */